<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div class="w3-container w3-teal">
        <th:block th:block th:fragment="header">
            <a class="fa fa-home" th:href="@{/}"></a>
            <a class="fa fa-sign-out" th:href="@{/logout}"></a>
        </th:block>
    </div>
</header>


<!--<th:block th:fragment="header">-->
<!--    <nav class="navbar navbar-inverse navbar-static-top">-->
<!--        <div class="container">-->
<!--            <div id="navbar" class="collapse navbar-collapse">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li class="active">-->
<!--                        <a th:href="@{/}">Home</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</th:block>-->
</body>
</html>