<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header>
    <div class="w3-container w3-teal" style="font-size: small;">
        <th:block th:fragment="header">
            <a class="fa fa-home" th:href="@{/}"></a>
            <a th:href="@{/about-api}" >REST</a>
            <th:block sec:authorize="isAuthenticated()">
                <a class="fa fa-sign-out" th:href="@{/logout}"></a>
                <a class="fa fa-user" th:href="@{/user-info}"></a>
                <span>Logged:</span><span sec:authentication="name"></span>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a class="fa fa-sign-in" th:href="@{/login}"></a>
                <span>Logged: Anonymous</span>
            </th:block>
        </th:block>
    </div>
</header>

</body>
</html>
