<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>User info</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">

    <h1>User info</h1>
    <h3>Your basic data:</h3>
    <p>login: <span th:text="${login}"></span></p>
    <p>email: <span th:text="${email}"></span></p>
    <p>first name: <span th:text="${firstName}"></span></p>
    <p>last name: <span th:text="${lastName}"></span></p>
    <p>nickname: <span th:text="${nickname}"></span></p>

</div>
</body>
</html>