<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>About-api</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">

    <h3>About REST API</h3>

    <p><a href="https://github.com/jarqprog/ArtGallery/blob/master/README.md" target="_blank">API on github</a></p>
    <p><a href="/api/" th:href="@{/api/}" target="_blank">link to REST</a></p>

</div>
</body>
</html>