<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>api</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h2>This is REST API, for now hyperlinks are not supported, so please modify url to get resources :)</h2>
    <p><a href="/api/v1/pictures" th:href="@{/api/v1/pictures}">sample 'Picture-type' resources</a></p>
    <p><a href="/api/v1/pictures/1/commentaries" th:href="@{/api/v1/pictures/1/commentaries}">
        sample 'Commentary-type' resources related to Picture</a></p>
    <p><a href="/api/v1/pictures/1/commentaries?mode=fat" th:href="@{/api/v1/pictures/1/commentaries?mode=fat}">
        ..and same in 'fat' form :)</a></p>
</div>
</body>
</html>