<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Art Gallery</h1>
    <p>Nice to see you,
        <th:block sec:authorize="isAuthenticated()">
        <span sec:authentication="name" style="color: #78ab46;"></span>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <span style="color: #78ab46;">Anonymous</span>
        </th:block>!</p>
    <p>Here you can browse arts, leave comments and likes, contactData with artists.</p>
    <p>Enjoy your travel in the word of art.</p>
    <p>Want to use our REST API service? <a href="/api/" th:href="@{/about-api}">Look here!</a></p>

</div>
</body>
</html>