<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>Login</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">

    <h2>Login panel</h2>

    <form class="w3-container" th:action="@{/login}" method="post">
        <p>
        <input id="username" name="username" class="w3-input w3-border w3-light-grey" type="text"
               placeholder="login">
        <p>
        <input id="password" name="password" class="w3-input w3-border w3-light-grey" type="password"
               placeholder="password">
        <p>
        <button id="login-submit" name="login-submit" class="w3-btn w3-blue-grey" type="submit">Submit</button>
        <p>
    </form>
        <div th:if="${param.error}" class="w3-panel w3-pale-yellow w3-border">
                <p>Invalid username or password.</p></div>
        <div th:if="${param.logout}" class="w3-panel w3-pale-yellow w3-border">
                <p>You have been logged out.</p></div>
</div>
</body>
</html>